cython==0.29.23
configspace==0.4.18
numpy==1.20.3
openml==1.6.3
scipy==
smac==0.13.1
torch==1.6.0
gpytorch==1.2.1
pyro-ppl 
botorch==0.3.2
scikit-optimize=0.8.1
pyDOE
git+git://github.com/uber-research/TuRBO@master
git+git://github.com/automl/HPOBench@master
